<div class="col-sm-4 col-sm-offset-4 signin-form">
    <div class="signin-form-header">
        <h3>Sign in</h3>
    </div>
    <form role="form" data-bind="submit: submit">
        <div class="form-group">
            <label for="inputName">Username</label>
            <input type="text" class="form-control" id="inputName" placeholder="Username" data-bind="value: username" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-bind="value: password" required>
        </div>
        <hr />
        <button type="button" class="btn btn-default btn-custom navbar-btn" data-bind="click: signupRedirect">Create new account</button>
        <button type="submit" class="btn btn-default btn-custom navbar-btn pull-right">Sign in</button>
    </form>
</div>