<div class="col-sm-4 col-sm-offset-4 signup-form">
    <form role="form" data-bind="submit: submit">
        <div class="form-group">
            <label for="fullname">Name</label>
            <input type="text" class="form-control" id="fullname" placeholder="Name" data-bind="value: fullname" required>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-bind="value: email" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-bind="value: password" required>
        </div>        
        <button type="submit" class="btn btn-default btn-custom navbar-btn pull-right">Submit</button>
    </form>
</div>