<div class="col-sm-4 col-sm-offset-4 application-title">
    <h2>
        <i class="fa fa-pencil-square"></i> Planner
    </h2> 
</div>
<div class="col-sm-4 col-sm-offset-4 signup-form">
    <div class="signup-form-header">
        <h3>New account</h3>
    </div>
    <hr />
    <form role="form" data-bind="submit: submit">
        <div class="form-group">
            <label for="inputName">Username</label>
            <input type="text" class="form-control" id="inputName" placeholder="Username" data-bind="value: username" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" data-bind="value: password" required>
        </div>        
        <hr />
        <button type="submit" class="btn btn-default btn-custom pull-right">Sign up</button>
        <button type="button" class="btn btn-default btn-redirect" data-bind="click: signinRedirect">Already have an account?</button>
    </form>
</div>